
    <footer class="text-center">
            <div class="footer-above" style="padding-top: 0px;">
                <div class="container">
                    <div class="row">
                        <div class="footer-col col-md-4">
                            <h3 style="text-align: left">Our service</h3>
                            <ul class="list", style="list-style-type: none; text-align: left">
                                <h4><li><a href="#">Advertisement</a></li></h4>
                                <h4><li><a href="#">Partnership</a></li></h4>
                                <h4><li><a href="#">Media</a></li></h4>
                            </ul>
                        </div>
                        <div class="footer-col col-md-4">
                        <nav>
                          <h3 style="text-align: left">About us</h3>
                            <ul class="list", style="list-style-type: none; text-align: left">
                                <h4><li><a href="#">Our mission</a></li></h4>
                                <h4><li><a href="#">Our team</a></li></h4>
                                <h4><li><a href="#">Media</a></li></h4>
                            </ul>
                        </nav>    
                        </div>
                        <div class="footer-col col-md-4">
                             <h3>Contact us</h3>
                            <ul class="list-inline">
                                <li>
                                    <a href="#" class="btn-social btn-outline"><span class="sr-only">Google Plus</span><i class="fa fa-2x fa-phone"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-2x fa-envelope"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-2x fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn-social btn-outline"><span class="sr-only">Github</span><i class="fa fa-2x fa-github"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn-social btn-outline"><span class="sr-only">Medium</span><i class="fa fa-2x fa-medium"></i></a>
                                </li>
                            </ul>
                            <h3 style="padding-bottom: 0px; margin-bottom: 0px;">location</h3>
                            <li style="list-style-type: none;">
                                <p>PO Box 7775, San Francisco, CA 94120-7775, US  <a href="#" class="btn-social btn-outline"><span class="sr-only">Medium</span><i class="fa fa-2x fa-map-marker"></i></a></p>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-below" style="padding-top: 10px; padding-bottom: 10px;>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            Copyright &copy; No Copycats 2017
                        </div>
                    </div>
                </div>
            </div>
        </footer>

