<%# cache "tweet#{Date.today}" do %>
	<% $twitter_client.search("cat filter:media ", result_type: "popular", lang: "en").take(8).each do |tweet| %>
		<%= image_tag(tweet.user.profile_image_uri) %>
		<br>
		<%= tweet.user.name %>
		<br>
	  <%= tweet.text %>
		
	  <%# tweet.profile_image_uri %>

	  <%#= p tweet.inspect %>
	  <%#= p tweet.to_yaml%>
	  <br>
	<% end %>
<%# end %>



<script>
	window.twttr.ready(
		function(twttr){
			twttr.widgets.createTimeline(
		  {
		    sourceType: 'widget',
		    widgetId: '849570458475175936'
		  },
		  document.getElementById('timeline'),
		  {
		    width: '450',
		    height: '700',
		    related: 'twitterdev,twitterapi'
		  }).then(function (el) {
		    console.log('Embedded a timeline.')
		  });
  	}
	);
</script>     

<%#= $twitter_client.limit %>


<div id='timeline'></div>

          
          