.carousel-inner{
  border: 2px solid black;
}

.twitter {
  background-color: #4099FF;
}

.youtube {
  background-color: #cc181e;
}

.tumblr {
  background-color:  #35465c;
}

.carousel-control {
  margin-top: 90px;
  height: 40px;
  width: 40px !important;
  border-radius: 23px;
  border: 4px solid white;
  background-color: black;
}

#carousel-row {
  margin-top: 30px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 80px;
  width: 100%;
}

#carousel-row_tumblr {
  margin-top: 30px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 30px;
  width: 100%;
}

.slide {
  padding-left: 60px;
  padding-right: 50px;
}


body .carousel-indicators .active {
  background-color: green;
}

.tumblr_images { 
                height: auto;
                width: auto;
                max-width: 230px;
                max-height: 210px;
               padding:1px;
               border:3px solid #5674a5;
               background-color: #5674a5;
               border-radius: 10px;

                         }
body .carousel-indicators {
  color: auto;
  bottom: -35px;

  .active {
    background-color: gray;
  }

  li {
    border: 1px solid black;  
  }
}

.targett {
            
}
