
.menu {
  border-color: black;
  background-color: black;
}

.twitter {
  background-color: #4099FF;
}




.tumblr {
  background-color:  #35465c;
}

.carousel-control {
  margin-top: 150px;
  height: 60px;
  width: 60px !important;
  border-radius: 50px;
  border: 4px solid white;
  background-color: black;
}


#carousel-row {
  margin-top: 30px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 80px;
  width: 100%;
  
}

#carousel-row_tumblr {
  margin-top: 30px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 30px;
  width: 100%;

}

.slide {
  padding-left: 60px;
  padding-right: 50px;
}

body .carousel-indicators .active {
  background-color: green;
}

.tumblr_images { 
                height: auto;
                width: auto;
                display: block;
                margin: 0 auto;
                max-width: 230px;
                max-height: 210px;
               padding:1px;
               border:3px solid #5674a5;
               background-color: #5674a5;
               border-radius: 10px;
               float: center !important;
                         }

body .carousel-indicators {
  color: auto;
  bottom: -35px;

  .active {
    background-color: gray;
  }

  li {
    border: 1px solid black;  
  }
}

div[target] {
                  color: #ced4dd!important;   
                  width: 250px!important; 
                  height: 70px!important;
                 
                  float: center !important;
}



.youtube .centering {
  display: table;
  margin: 0 auto;
}


#font {
  font-family: 'Press Start 2P', cursive;
}