.carousel-inner{
  border: 2px solid black;
}

.twitter {
  background-color: #4099FF;
}

.youtube {
  background-color: #cc181e;
}

.tumbl {
  background-color:  #35465c;
}

.carousel-control {
  margin-top: 90px;
  height: 40px;
  width: 40px !important;
  border-radius: 23px;
  border: 4px solid white;
  background-color: black;
}

#carousel-row {
  margin-top: 30px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 170px;
  width: 100%;
}

.slide {
  padding-left: 60px;
  padding-right: 50px;
}
