// Place all the styles related to the Tumblr controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tumbr_images { height: auto;
                width: auto;
                max-with: 200;
                max-height: 200;
                         }