// Place all the styles related to the Twitter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.twitter-box {
  background-color: white;
  width: 95%;
	font: Helvetica, Arial, sans-serif;  color: #000;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  border: #ddd 1px solid;
  padding: 16px;
}

.twitter-box p {
	margin-top: 10px;
	margin-bottom: 0px;
}


.twitter-logo {
	padding-left: 0px;
}

.twitter-image {
  border-radius: 15px;
}

.twitter-title {
  font-weight: bold;
  font-size: 18px;
}

