// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.border
{
	border-style: solid;
	border-radius: 10px;
}

.header-style 
{
		color: white;
		font-family: 'Raleway', sans-serif;
		font-weight: bold;
		font-size: 45px;
}

.register 
{
	background: image-url('unicorncat.jpg');
	background-size:cover;
	height: 100%;
}

body, html 
{
	height: 100%;
}

body 
{
		font-family: 'Roboto', sans-serif;
}

.background-tint
{
	background-color: rgba(152,148,148, 0.8);
  background-blend-mode: multiply;
}

h2 
{
	text-align: center;
}

.register-form
{
	background: rgba(135,224,251, 0.8);
}

.special-fonts
{
	color: white;
}
