<ol class="tumblr_posts">
 <li class="tumblr_post tumblr_text_post">
  <div class="tumblr_title">
   Your Blog Title
  </div>
  <div class="tumblr_body">
   <p>Your blog post</p>
   <p class="read_more_container">
    <a href="http://youtblog.tumblr.com/link" class="read_more">
     Read More
    </a>
   </p>
  </div>
 </li>